@use "./../../scss/mixins.scss" as mix;

.Card {
  perspective: 1000px;

  &-wrapper {
    width: 100%;
    height: 100%;
    padding: 2.5rem 2rem;
    background-color: var(--bg-secondary);
    border: 2px solid var(--fg-text);
    border-radius: 10px;
    box-shadow: var(--shadow-card);
  }

  &-content {
    pointer-events: none;
  }

  &-title {
    margin-bottom: 0.8rem;
    font-family: var(--ff-special);
  }

  &.black .Card-wrapper:hover {
    background-color: var(--secondary);
    transition-property: background-color, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    p {
      color: var(--bg-main);
    }
  }

  &.green .Card-wrapper:hover {
    background-color: var(--primary);
    transition-property: background-color, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    p {
      color: var(--bg-main);
    }
  }
}
