.Footer {
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--fg-text);
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    font-size: 0.8rem;
    color: #b9b9b9;
  }
}
