@font-face {
  font-family: 'Raleway';
  src: url(../../src/assets/fonts/Raleway/Raleway-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: 'Raleway';
  src: url(../../src/assets/fonts/Raleway/Raleway-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Raleway';
  src: url(../../src/assets/fonts/Raleway/Raleway-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Raleway';
  src: url(../../src/assets/fonts/Raleway/Raleway-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Raleway';
  src: url(../../src/assets/fonts/Raleway/Raleway-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(../../src/assets/fonts/Inter/Inter-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: 'Inter';
  src: url(../../src/assets/fonts/Inter/Inter-Bold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Inter';
  src: url(../../src/assets/fonts/Inter/Inter-Regular.ttf);
  font-weight: 400;
}