@use "./mixins.scss" as mix;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  font-family: var(--ff-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

img,
video,
picture,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  color: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

a,
strong,
blockquote,
i,
b,
u,
em {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--fg-title);
  font-family: var(--ff-special);
}
p,
span,
a {
  color: var(--fg-text);
}

h1,
.h1 {
  font-size: var(--h1);
  font-weight: var(--fw-extrabold);
}
h2,
.h2 {
  font-size: var(--h2);
  font-weight: var(--fw-bold);
}
h3,
.h3 {
  font-size: var(--h3);
  font-weight: var(--fw-semibold);
}
p {
  font-size: 1rem;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none;
  outline: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

::selection {
  background-color: rgb(45, 45, 45);
  color: var(--bg-main);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}
